header,
footer {
    height: 30px;
    width: 500px;
    background-color: blue;
    border-style: solid;
    border-color: darkblue;
    border-width: 10px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

main {
    margin: 5px;
    height: 30px;
    width: 400px;
    background-color: yellow;
    border-style: solid;
    border-width: 35px;
    border-color: darkolivegreen;
    padding-top: 10px;
    padding-left: 10px
}